<div class="container" >
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let court of courts">
      <div class="card my-3 court-card">
        <!-- Card Header -->
        <div class="card-header">
          <h5 class="card-title mb-0">
            Court ID: {{court.id}} {{court.name}}
          </h5>
          <p class="card-subtitle">
            Court No: {{court.court_no}}, Level: {{court.level}}, Max Players: {{court.max_players}}
          </p>
          <p class="card-subtitle">Date & Time: {{court.date}} - {{court.time}}</p>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <h6 class="registrations-header">Registrations:</h6>
          <ul *ngIf="getRegistrationsForCourt(court.id).length > 0; else noRegistrations">
            <li
              *ngFor="let reg of getRegistrationsForCourt(court.id); let i = index"
              [ngClass]="{'player': reg.role === 'Player', 'waitlist': reg.role === 'Waitlist'}"
            >
              {{i + 1}}. {{reg.name}} ({{reg.role}})
            </li>
          </ul>
          <ng-template #noRegistrations>
            <div class="no-registrations">No registrations found for this court.</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
