<ion-header style="padding-bottom: 10px;">
  <ion-toolbar style="text-align: center;">
    <ion-title><b>VCS Badmintion</b> Registration System</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">

    <!-- Sidebar Toggle Button -->
    <button type="button" class="ios-style-btn" (click)="toggleSidebar()"  *ngIf="canAddCourt">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
    </svg>Add New Court</button>
  
    <div class="row">
      <!-- Existing cards for courts -->
      <div *ngFor="let court of courts">
        <div class="card my-3 court-card">
          <!-- Card Header -->
          <div class="card-header">
            <h5 class="card-title mb-0" style="font-weight: bold;">
              Court ID {{court.id}}: {{court.name}}
            </h5>
            <p class="card-subtitle">
              Court No: {{court.court_no}}, Level: {{court.level}}, Max Players: {{court.max_players}}
            </p>
            <p class="card-subtitle">Date & Time: {{court.date}}, {{court.time}}</p>
          </div>
  
          <!-- Card Body -->
          <div class="card-body">
            <h6 class="registrations-header d-flex align-items-center" style="font-weight: lighter; margin-left: 10px;">
              Name:
              <!-- Text box for input -->
              <input
                type="text"
                class="form-control"
                placeholder="Enter name"
                style="width: 100px; font-weight: lighter;"
                [(ngModel)]="newRegistration[court.id]"
              />
              <!-- Save button  -->
              <button class="form-control" [disabled]="!newRegistration[court.id]" (click)="saveRegistration(court.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>Register</button>
              <button class="form-control" style="margin-right: 10px;" [disabled]="!newRegistration[court.id]" (click)="deleteRegistration(court.id, newRegistration[court.id])">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M3.5 5.5a.5.5 0 0 1 1 0V13a2 2 0 0 0 2 2h5a2 2 0 0 0 2-2V5.5a.5.5 0 0 1 1 0V13a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V5.5z"/>
                  <path fill-rule="evenodd" d="M10.5 1a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5z"/>
                </svg>
                Delete
              </button>
            </h6>
            <ul *ngIf="getRegistrationsForCourt(court.id).length > 0; else noRegistrations">
              <li
                *ngFor="let reg of getRegistrationsForCourt(court.id); let i = index"
                [ngClass]="{'player': reg.role === 'Player', 'waitlist': reg.role === 'Waitlist'}" style="margin-left: 10px;"
              >
                {{i + 1}}. {{reg.name}} ({{reg.role}}) ({{reg.fee}})
              </li>
            </ul>
            <ng-template #noRegistrations>
              <div class="no-registrations">No registrations found for this court.</div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Sidebar for Adding a New Court -->
    <div class="sidebar" [class.open]="isSidebarOpen">
      <div class="sidebar-header">
        <h5>Add New Court</h5>
        <button class="btn-close" (click)="toggleSidebar()">×</button>
      </div>
      <div class="sidebar-body">
        <form (ngSubmit)="submitCourtForm()">
          <div class="form-group">
            <label for="courtid">Court ID</label>
            <input placeholder="Input id to update or delete" type="number" id="courtid" class="form-control" [(ngModel)]="newCourt.id" name="id" required>
          </div>
          <div class="form-group">
            <label for="courtName">Court Name</label>
            <input type="text" id="courtName" class="form-control" [(ngModel)]="newCourt.name" name="name" required>
          </div>
          <div class="form-group">
            <label for="courtDate">Date</label>
            <input type="text" id="courtDate" class="form-control" [(ngModel)]="newCourt.date" name="date" required>
          </div>
          <div class="form-group">
            <label for="courtTime">Time</label>
            <input type="text" id="courtTime" class="form-control" [(ngModel)]="newCourt.time" name="time" required>
          </div>
          <div class="form-group">
            <label for="courtLevel">Level</label>
            <input type="text" id="courtLevel" class="form-control" [(ngModel)]="newCourt.level" name="level" required>
          </div>
          <div class="form-group">
            <label for="courtNo">Court No</label>
            <input type="number" id="courtNo" class="form-control" [(ngModel)]="newCourt.court_no" name="court_no" required>
          </div>
          <div class="form-group">
            <label for="maxPlayers">Max Players</label>
            <input type="number" id="maxPlayers" class="form-control" [(ngModel)]="newCourt.max_players" name="max_players" required>
          </div>
          <!-- div with two button same row -->
            <div class="d-flex" style="display: flex; flex-wrap: nowrap;">
              <button type="submit" class="ios-style-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>
                Create
              </button>
              <!-- add delete button on the right side of submit button, apply .ios-style-btn.delete class-->
              <button type="button" class="ios-style-btn" (click)="deleteCourt(newCourt.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M3.5 5.5a.5.5 0 0 1 1 0V13a2 2 0 0 0 2 2h5a2 2 0 0 0 2-2V5.5a.5.5 0 0 1 1 0V13a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V5.5z"/>
                  <path fill-rule="evenodd" d="M10.5 1a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5z"/>
                </svg>
                Delete
              </button>
            </div>
        </form>
      </div>
    </div>
  
  </div>
</ion-content>

